draft.py
**/.idea/
**/__pycache__/
/data/
**/logs/
logs
/logging/
/model/
*.pt
*.pth
/models/
/answer/
/cropped_face/
draft.ipynb
/backup/
/public_test/
/yolo_dataset/
/images/
draft.jpg
draft2.jpg
*.zip
*.h5
.ipynb_checkpoints/
/public_test_and_submission_guidelin/
/tool/bbox/
